<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, "Contact" %>

<h1>Contact</h1>
<p>Giuseppe Andrea Rizzitelli (<a href="mailto:s198572@studenti.polito.it?subject=Flix">s198572@studenti.polito.it</a>)</p>